/botaniavars.dat
/crafttweaker.log
/knownkeys.txt
/options.txt
/patchouli_data.json
/usercache.json
/usernamecache.json
/astralsorcery/
/config/splash.properties
/config/jei/worldSettings.cfg
/logs/
/mods/
/saves/

# Curse
/minecraftinstance.json