/.mixin.out/
/crash-reports/
/logs/
/mods/
/natives/
/saves/
/botaniavars.dat
/crafttweaker.log
/options.txt
/patchouli_data.json
/realms_persistence.json
/usercache.json
/usernamecache.json

# Curse
/config.json
/minecraftinstance.json
