/.mixin.out/
/config/jei/world/
/crash-reports/
/downloads/
/logs/
/map_atlases/
/mods/
/natives/
/saves/
/shaderpacks/
/botaniavars.dat
/command_history.txt
/crafttweaker.log
/hs_err_pid*.log
/options.txt
/patchouli_data.json
/realms_persistence.json
/replay_pid*.log
/usercache.json
/usernamecache.json
*.toml.bak

# Supplementaries Dynamic Assets Caching
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/

# KubeJS
/kubejs/README.txt
/local/kubejs/
rhino.local.properties

# Unused Forgery/Fabrication mod config files
config/fabrication/block_logo.ini
config/fabrication/block_logo.png
config/fabrication/classic_block_drops.ini
config/fabrication/dimensional_tools.ini
config/fabrication/gear_components.ini
config/fabrication/item_despawn.ini

# Modrinth
/profile.json

# Prism Launcher
/icon.png
